/* styles.css */
:root {
  --main-bg-color: white;
  --card-bg-color: #F0F0F0;
  --navbar-bg-color: #F0F0F0;

  --text-color: black;
  --secondary-text-color: #6C757D;

  --button-color: #353535;
}

.dark-mode {
  --main-bg-color: #111111;
  --card-bg-color: #222222;
  --navbar-bg-color: #222222;
  

  --text-color: #DEE2E6;
  --secondary-text-color: #6C757D;

  --button-color: #222222;
}


body {
  font-family: 'Lexend', sans-serif;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}


.secondary {
  color: var(--secondary-text-color);
}

/* Add custom CSS to adjust container width */
.custom-container {
  max-width: 88%; /* Adjust this value as needed */
  margin: 0 auto;   /* Center the container */
}

.card {
  margin-top: 15px; /* Adjust the value as needed */
  margin-bottom: 15px; /* Adjust the value as needed */
}

.card-button {
  font-size: 1.3rem; /* Adjust the font size as needed */
  padding: 0.2rem 1.2rem; /* Adjust the padding as needed */
  color: white;
  background-color: var(--button-color);
}

/* Sticky Navbar, unused*/
.custom-navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust this value as needed */
}


@media only screen and (min-width: 768.1px) {
  .mobileOnly{
    display: none;
  }
}

@media only screen and (max-width: 768.1px) {
  .PCOnly{
    display: none;
  }
}

